body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: center;
  font-family: "Poppins", sans-serif;
}
.icon {
  fill: hsl(233, 11%, 84%);
  transition: fill 0.2s ease;
}

.icon.hover {
  fill: white;
  cursor: pointer;
}